{% extends 'base.html' %}
{% block title %} Head Start Annual Statistics - {{year}} {% endblock %}
{% block content %}
<div id="view-select">
    <form action="view" , method="get" class="data-viewer-form">
        <div class="form-entry">
            <label for="year-select">Select a year:</label>
            <select name="year" id="year-select">
                {% for y in years_select %}
                {% if y == year %}
                <option selected>{{ y }}</option>
                {% else %}
                <option>{{ y }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>

        <div class="form-entry">
            <label for="data-granularity">Data granularity</label>
            <select name="granularity" id="data-granularity">
                {% for g in granularity_select %}
                {% if g == granularity %}
                <option selected>{{ g }}</option>
                {% else %}
                <option>{{ g }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>

        <div class="form-submit" style="justify-content: center">
            <input type="submit" class="mainButton" value="View data">
        </div>
    </form>
</div>

<div class="data-block">
    <table>
        <thead>
            <h3 style="text-align: center;">{{ year }} statistics  - {{granularity}} level</h3>
        </thead>
        <tbody>
            {% if granularity == 'state' %}
            <tr>
                <th scope="col">state</th>
                <th scope="col">enrollment count</th>
                <th scope="col">fund per child</th>
                <th scope="col">enrollment rate</th>
            </tr>
            {% for state, child_poverty_count, federal_funding, enroll_count, personal_income, fund_per_child, enroll_rate in data %}
            <tr>
                <th scope="row">{{ state }}</th>
                <td> {{enroll_count}}</td>
                <td>{{fund_per_child}}</td>
                <td>{{enroll_rate}}</td>
            </tr>
            {% endfor %}
            {% elif granularity == 'county' %}
            <tr>
                <th scope="col">state</th>
                <th scope="col">county</th>
                <th scope="col">children per center</th>
            </tr>
            {% for state, county, cpc in data %}
            <tr>
                <th scope="row">{{ state }}</th>
                <td>{{ county }}</td>
                <td>{{ cpc }}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>

<div>
    <form action="download" method="get">
        <input type="hidden" name="year" value="{{ year }}">
        <input type="hidden" name="granularity" value="{{ granularity }}">
        <div class="form-submit" style="justify-content: center">
            <input type="submit" class="mainButton" value="Download data">
        </div>
    </form>
</div>

{% endblock %}