{% extends 'base.html' %}
{% load static %}
{% block title %} Head Start Annual Statistics - {{year}} {% endblock %}
{% block content %}
<div id="data-form-div">
    <form method="get" class="data-viewer-form">
        <div class="form-entry">
            <label for="year-select">Select a year:</label>
            <select name="year" id="year-select">
                {% for y in years_select %}
                {% if y == year %}
                <option selected>{{ y }}</option>
                {% else %}
                <option>{{ y }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>

        <div class="form-entry">
            <label for="data-granularity">Data granularity</label>
            <select name="granularity" id="data-granularity">
                {% for g in granularity_select %}
                {% if g == granularity %}
                <option selected>{{ g }}</option>
                {% else %}
                <option>{{ g }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>

        <div class="form-submit" style="justify-content: space-evenly">
            <input type="submit" class="mainButton" formaction="view" value="View data">
            <input type="submit" class="mainButton" formaction="download" value="Download data">
        </div>

    </form>

</div>

<div class="data-block">
    <table>
        <thead>
            <h2 style="text-align: center;">{{ year }} statistics  - {{granularity}} level</h2>
        </thead>
        <tbody>
            {% if granularity == 'state' %}
            <tr>
                <th scope="col">state</th>
                <th scope="col">fund per child</th>
                <th scope="col">real GDP</th>
                <th scope="col">enrollment rate</th>
            </tr>
            {% for state, fpc, rgdp,  enroll_rate in data %}
            <tr>
                <th scope="row">{{ state }}</th>
                <td>{{fpc}}</td>
                <td>{{rgdp}}</td>
                <td>{{enroll_rate}}</td>
            </tr>
            {% endfor %}
            {% elif granularity == 'county' %}
            <tr>
                <th scope="col">county</th>
                <th scope="col">children per center</th>
            </tr>
            {% for state_county, cpc in data %}
            <tr>
                <th scope="row">{{ state_county }}</th>
                <td>{{ cpc }}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>

<div><h2>Visualization</h2></div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<canvas id="chart" class="chart-canvas" width="500" height="400"></canvas>
<script>
    var ctx = document.getElementById('chart');
    var visConfig = JSON.parse('{{ vis_config | escapejs }}');
    var data = {
        labels: visConfig.data.map(arr => arr[0]),
        datasets: [{
            label: visConfig.title ?? "",
            data: visConfig.data.map(arr => arr[arr.length -1]),
            // backgroundColor: [
            //     'red',
            //     'blue',
            //     'yellow',
            //     'green',
            //     'purple',
            //     'orange'
            // ]
        }]
    };
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: data,
        options: {
                responsive: false
            }
    });
</script>

{% endblock %}