:root {
    --primary-color: #264b65;
    --primay-color-light: #4a6e7a;
    --secondary-color: #007b8d;
    --secondary-color-light: #00a0b0;
    --text-color-main: white;
}

html {
    font-family: Lato, sans-serif;
    font-size: 100%;
    line-height: 1.5;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

#bodyWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

#pageTitle {
    background-color: var(--primary-color);
    width: 100%;
    text-align: center;
    color: var(--text-color-main);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    margin-bottom: 30px;
}

.data-viewer-form {
    border: 1px gainsboro solid;
    /* box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75); */
    padding: 20px;
}

#view-select {
    width: 350px;
}

body {
    padding: 0px;
    margin: 0px;
}

div.form-entry {
    display: flex;
    font-size: 16px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 250px;
    margin: 30px 0px;
}

div.form-submit {
    display: flex;
    font-size: 16px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 250px;
    margin: 30px 0px;
}

table {
    display: block;
    table-layout: fixed;
    border-collapse: collapse;
}

tbody tr:nth-child(odd) {
    background-color: rgb(237, 234, 234)
}

tbody tr:nth-child(even) {
    background-color: gainsboro;
}

th {
    font-size: 18px;
    font-weight: 18;
    text-align: left;
    vertical-align: center;
    padding: 10px 20px;
}

td {
    font-size: 18px;
    font-weight: 18;
    text-align: left;
    vertical-align: center;
    min-width: 100px;
    padding: 10px 20px;
}

select {
    font-size: 14px;
    min-width: 100px;
    min-height: 30px;
}

.mainButton {
    border: 1px gray solid;
    border-radius: 5px;
    background-color: var(--secondary-color);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    color: white;
    min-width: 110px;
    min-height: 35px;
}

.mainButton:hover{
    background-color: var(--secondary-color-light);
}

input.submit {
    text-align: center;
}

input.submit:hover {
    background-color: var(--secondary-color-light);
}